---
import Layout from "../layouts/Layout.astro";
import AboutTerminal from "../components/AboutTerminal.astro";
import meImage from "../images/me.webp";
import { SITE_DOMAIN } from "../consts";

let name = "James McKee";
---

<Layout title="Home">
	<main transition:animate="fade">
		<section id="left-col">
			<AboutTerminal
				user="james@mck"
				name={name}
				items={[
					{
						name: "email",
						textContent: `james at ${SITE_DOMAIN}`,
						href: `mailto:james%40${SITE_DOMAIN}`,
					},
					{
						name: "github",
						textContent: "github.com/autumn-mck",
						href: "https://github.com/autumn-mck",
					},
				]}
				image={{
					src: meImage,
					alt: "Me wearing a red fleece and bycicle helmet, standing in front of a field at sunset.",
				}}
			/>
		</section>

		<section id="right-col">
			<h1>About</h1>
			<p>
				Hey 👋<br />
				I'm {name.split(" ")[0]}, and thanks for visiting my website!
				<br />
				I'm a Computer Science at Queen's University Belfast, currently busy preparing
				to start my final year having just completed my placement year.
				<br />
				However I'm still occasionally finding time to make things and put them online.
			</p>
			<p>
				<br />
				While you're here, you can look at some <a href="/projects"
					>projects I've worked on</a
				>, or read the couple of <a href="/blog">blog posts I've written</a>!
			</p>
		</section>
	</main>
</Layout>

<style>
	main {
		display: flex;
		flex-direction: row;
		width: 100%;
		height: 100%;
		justify-content: center;
		align-items: center;
		min-height: calc(100vh - 6rem);
	}

	h1 {
		margin-top: 0;
		font-size: 2rem;
		margin-bottom: 0.6rem;
	}

	p {
		margin: 0;
		font-size: 1.3rem;
		line-height: 1.4;
	}

	a,
	a:visited {
		color: var(--text);
		text-decoration: underline var(--accent-2);
		transition: 60ms linear;
	}

	a:hover,
	a:focus {
		text-decoration: underline var(--accent);
		color: var(--accent);
		transition: 60ms linear;
	}

	#left-col {
		display: flex;
		justify-content: center;
		width: 50%;
		height: 100%;
	}

	#right-col {
		display: flex;
		flex-direction: column;
		width: 75%;
		max-width: 85ch;
		margin-right: auto;
		padding: 1rem;
	}

	@media (max-width: 1300px) {
		main {
			flex-direction: column;
			margin-top: 2.5rem;
		}

		#left-col {
			width: 100%;
		}

		#right-col {
			width: 100%;
			margin-right: 0;
		}
	}
</style>

<script src="https://music-display.mck.is/musicDisplayComponent.js" is:inline
></script>
