---
import BlogPost from '../layouts/BlogPost.astro';
---

<BlogPost title="" description="a">
    <nav>
        <ul>
            <li>
                <a href="#text">Text</a>
                <ul>
                    <li><a href="#text__headings">Headings</a></li>
                    <li><a href="#text__paragraphs">Paragraphs</a></li>
                    <li><a href="#text__lists">Lists</a></li>
                    <li><a href="#text__blockquotes">Blockquotes</a></li>
                    <li><a href="#text__asides">Asides</a></li>
                    <li><a href="#text__details">Details / Summary</a></li>
                    <li><a href="#text__hr">Horizontal rules</a></li>
                    <li><a href="#text__tables">Tabular data</a></li>
                    <li><a href="#text__code">Code</a></li>
                    <li><a href="#text__sections">Sections</a></li>
                    <li><a href="#text__inline">Inline elements</a></li>
                </ul>
            </li>
            <li>
                <a href="#embedded">Embedded content</a>
                <ul>
                    <li><a href="#embedded__images">Images</a></li>
                    <li><a href="#embedded__bgimages">Background images</a></li>
                    <li><a href="#embedded__audio">Audio</a></li>
                    <li><a href="#embedded__video">Video</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <section id="text">
        <header>
            <h1>Text</h1>
        </header>
        <article id="text__headings">
            <header>
                <h2>Headings</h2>
            </header>
            
                <h1>Heading 1</h1>
                <h2>Heading 2</h2>
                <h3>Heading 3</h3>
                <h4>Heading 4</h4>
                <h5>Heading 5</h5>
                <h6>Heading 6</h6>
            
            <footer>
                <p><a href="#top">[Top]</a></p>
            </footer>
        </article>
        <article id="text__paragraphs">
            <header>
                <h2>Paragraphs</h2>
            </header>
            
                <p>A paragraph (from the Greek paragraphos, “to write beside” or “written beside”) is a
                    self-contained unit of a discourse in writing dealing with a particular point or idea. A
                    paragraph consists of one or more sentences. Though not required by the syntax of any
                    language, paragraphs are usually an expected part of formal writing, used to organize longer
                    prose.</p>
            
            <footer>
                <p><a href="#top">[Top]</a></p>
            </footer>
        </article>
        <article id="text__blockquotes">
            <header>
                <h2>Blockquotes</h2>
            </header>
            
                <blockquote>
                    <p>A block quotation (also known as a long quotation or extract) is a quotation in a written
                        document, that is set off from the main text as a paragraph, or block of text.</p>
                    <p>It is typically distinguished visually using indentation and a different typeface or
                        smaller size quotation. It may or may not include a citation, usually placed at the
                        bottom.</p>
                    <cite><a href="#!">Said no one, ever.</a></cite>
                </blockquote>
            
            <footer>
                <p><a href="#top">[Top]</a></p>
            </footer>
        </article>
        <article id="text__asides">
            <header>
                <h2>Asides</h2>
            </header>
            <aside>
                <h4>This is an aside</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa cumque numquam natus harum delectus autem, ipsam veritatis eligendi.</p>
            </aside>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum eligendi optio ipsa nemo assumenda mollitia inventore neque dolores animi ratione libero qui dolorem, distinctio aut, quae, iste, cumque nihil enim!</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum perspiciatis corrupti eaque tempore autem doloremque, placeat, in earum ab maxime commodi tenetur quos provident fugit assumenda, consequatur vero ipsum, et.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing, elit. Molestias, facilis. Dolores rerum omnis, adipisci odit ipsa, autem animi molestiae fugit temporibus fuga dignissimos, commodi et, itaque quo voluptatem recusandae voluptatibus.</p>
            <footer>
                <p><a href="#top">[Top]</a></p>
            </footer>
        </article>
        <article id="text__lists">
            <header>
                <h2>Lists</h2>
            </header>
                <h3>Ordered List</h3>
                <ol type="1">
                    <li>List Item 1</li>
                    <li>
                        List Item 2
                        <ol type="A">
                            <li>List Item 1</li>
                            <li>
                                List Item 2
                                <ol type="a">
                                    <li>List Item 1</li>
                                    <li>
                                        List Item 2
                                        <ol type="I">
                                            <li>List Item 1</li>
                                            <li>
                                                List Item 2
                                                <ol type="i">
                                                    <li>List Item 1</li>
                                                    <li>List Item 2</li>
                                                    <li>List Item 3</li>
                                                </ol>
                                            </li>
                                            <li>List Item 3</li>
                                        </ol>
                                    </li>
                                    <li>List Item 3</li>
                                </ol>
                            </li>
                            <li>List Item 3</li>
                        </ol>
                    </li>
                    <li>List Item 3</li>
                </ol>
                <h3>Unordered List</h3>
                <ul>
                    <li>List Item 1</li>
                    <li>
                        List Item 2
                        <ul>
                            <li>List Item 1</li>
                            <li>
                                List Item 2
                                <ul>
                                    <li>List Item 1</li>
                                    <li>
                                        List Item 2
                                        <ul>
                                            <li>List Item 1</li>
                                            <li>
                                                List Item 2
                                                <ul>
                                                    <li>List Item 1</li>
                                                    <li>List Item 2</li>
                                                    <li>List Item 3</li>
                                                </ul>
                                            </li>
                                            <li>List Item 3</li>
                                        </ul>
                                    </li>
                                    <li>List Item 3</li>
                                </ul>
                            </li>
                            <li>List Item 3</li>
                        </ul>
                    </li>
                    <li>List Item 3</li>
                </ul>
            
            <footer>
                <p><a href="#top">[Top]</a></p>
            </footer>
        </article>
        <article id="text__details">
            <header>
                <h1>Details / Summary</h1>
            </header>
            <details>
                <summary>Expand for details</summary>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, odio! Odio natus ullam ad
                    quaerat, eaque necessitatibus, aliquid distinctio similique voluptatibus dicta consequuntur
                    animi. Quaerat facilis quidem unde eos! Ipsa.</p>
            </details>
            <footer>
                <p><a href="#top">[Top]</a></p>
            </footer>
        </article>
        <article id="text__hr">
            <header>
                <h2>Horizontal rules</h2>
            </header>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip ex ea commodo consequat. Duis aute irure dolor in
                reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip ex ea commodo consequat. Duis aute irure dolor in
                reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <hr>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip ex ea commodo consequat. Duis aute irure dolor in
                reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip ex ea commodo consequat. Duis aute irure dolor in
                reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <footer>
                <p><a href="#top">[Top]</a></p>
            </footer>
        </article>
        <article id="text__tables">
            <header>
                <h2>Tabular data</h2>
            </header>
            <table>
                <caption>Table Caption</caption>
                <thead>
                    <tr>
                        <th>Table Heading 1</th>
                        <th>Table Heading 2</th>
                        <th>Table Heading 3</th>
                        <th>Table Heading 4</th>
                        <th>Table Heading 5</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Table Footer 1</th>
                        <th>Table Footer 2</th>
                        <th>Table Footer 3</th>
                        <th>Table Footer 4</th>
                        <th>Table Footer 5</th>
                    </tr>
                </tfoot>
                <tbody>
                    <tr>
                        <td>Table Cell 1</td>
                        <td>Table Cell 2</td>
                        <td>Table Cell 3</td>
                        <td>Table Cell 4</td>
                        <td>Table Cell 5</td>
                    </tr>
                    <tr>
                        <td>Table Cell 1</td>
                        <td>Table Cell 2</td>
                        <td>Table Cell 3</td>
                        <td>Table Cell 4</td>
                        <td>Table Cell 5</td>
                    </tr>
                    <tr>
                        <td>Table Cell 1</td>
                        <td>Table Cell 2</td>
                        <td>Table Cell 3</td>
                        <td>Table Cell 4</td>
                        <td>Table Cell 5</td>
                    </tr>
                    <tr>
                        <td>Table Cell 1</td>
                        <td>Table Cell 2</td>
                        <td>Table Cell 3</td>
                        <td>Table Cell 4</td>
                        <td>Table Cell 5</td>
                    </tr>
                </tbody>
            </table>
            <table>
                <caption>Overflowing table</caption>
                <colgroup>
                    <col>
                    <col>
                    <col>
                    <col>
                    <col>
                </colgroup>
                <thead>
                    <tr>
                        <th>Header_1</th>
                        <th>Header_2</th>
                        <th>Header_3</th>
                        <th>Header_4</th>
                        <th>Header_5</th>
                        <th>Header_6</th>
                        <th>Header_7</th>
                        <th>Header_8</th>
                        <th>Header_9</th>
                        <th>Header_10</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Row:1 Cell:1</td>
                        <td>Row:1 Cell:2</td>
                        <td>Row:1 Cell:3</td>
                        <td>Row:1 Cell:4</td>
                        <td>Row:1 Cell:5</td>
                        <td>Row:1 Cell:6</td>
                        <td>Row:1 Cell:7</td>
                        <td>Row:1 Cell:8</td>
                        <td>Row:1 Cell:9</td>
                        <td>Row:1 Cell:10</td>
                    </tr>
                    <tr>
                        <td>Row:2 Cell:1</td>
                        <td>Row:2 Cell:2</td>
                        <td>Row:2 Cell:3</td>
                        <td>Row:2 Cell:4</td>
                        <td>Row:2 Cell:5</td>
                        <td>Row:2 Cell:6</td>
                        <td>Row:2 Cell:7</td>
                        <td>Row:2 Cell:8</td>
                        <td>Row:2 Cell:9</td>
                        <td>Row:2 Cell:10</td>
                    </tr>
                    <tr>
                        <td>Row:3 Cell:1</td>
                        <td>Row:3 Cell:2</td>
                        <td>Row:3 Cell:3</td>
                        <td>Row:3 Cell:4</td>
                        <td>Row:3 Cell:5</td>
                        <td>Row:3 Cell:6</td>
                        <td>Row:3 Cell:7</td>
                        <td>Row:3 Cell:8</td>
                        <td>Row:3 Cell:9</td>
                        <td>Row:3 Cell:10</td>
                    </tr>
                    <tr>
                        <td>Row:4 Cell:1</td>
                        <td>Row:4 Cell:2</td>
                        <td>Row:4 Cell:3</td>
                        <td>Row:4 Cell:4</td>
                        <td>Row:4 Cell:5</td>
                        <td>Row:4 Cell:6</td>
                        <td>Row:4 Cell:7</td>
                        <td>Row:4 Cell:8</td>
                        <td>Row:4 Cell:9</td>
                        <td>Row:4 Cell:10</td>
                    </tr>
                    <tr>
                        <td>Row:5 Cell:1</td>
                        <td>Row:5 Cell:2</td>
                        <td>Row:5 Cell:3</td>
                        <td>Row:5 Cell:4</td>
                        <td>Row:5 Cell:5</td>
                        <td>Row:5 Cell:6</td>
                        <td>Row:5 Cell:7</td>
                        <td>Row:5 Cell:8</td>
                        <td>Row:5 Cell:9</td>
                        <td>Row:5 Cell:10</td>
                    </tr>
                    <tr>
                        <td>Row:6 Cell:1</td>
                        <td>Row:6 Cell:2</td>
                        <td>Row:6 Cell:3</td>
                        <td>Row:6 Cell:4</td>
                        <td>Row:6 Cell:5</td>
                        <td>Row:6 Cell:6</td>
                        <td>Row:6 Cell:7</td>
                        <td>Row:6 Cell:8</td>
                        <td>Row:6 Cell:9</td>
                        <td>Row:6 Cell:10</td>
                    </tr>
                </tbody>
            </table>
            <figure>
                <table>
                    <caption>Overflowing table in figure</caption>
                    <colgroup>
                        <col>
                        <col>
                        <col>
                        <col>
                        <col>
                    </colgroup>
                    <thead>
                        <tr>
                            <th>Header_1</th>
                            <th>Header_2</th>
                            <th>Header_3</th>
                            <th>Header_4</th>
                            <th>Header_5</th>
                            <th>Header_6</th>
                            <th>Header_7</th>
                            <th>Header_8</th>
                            <th>Header_9</th>
                            <th>Header_10</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Row:1 Cell:1</td>
                            <td>Row:1 Cell:2</td>
                            <td>Row:1 Cell:3</td>
                            <td>Row:1 Cell:4</td>
                            <td>Row:1 Cell:5</td>
                            <td>Row:1 Cell:6</td>
                            <td>Row:1 Cell:7</td>
                            <td>Row:1 Cell:8</td>
                            <td>Row:1 Cell:9</td>
                            <td>Row:1 Cell:10</td>
                        </tr>
                        <tr>
                            <td>Row:2 Cell:1</td>
                            <td>Row:2 Cell:2</td>
                            <td>Row:2 Cell:3</td>
                            <td>Row:2 Cell:4</td>
                            <td>Row:2 Cell:5</td>
                            <td>Row:2 Cell:6</td>
                            <td>Row:2 Cell:7</td>
                            <td>Row:2 Cell:8</td>
                            <td>Row:2 Cell:9</td>
                            <td>Row:2 Cell:10</td>
                        </tr>
                        <tr>
                            <td>Row:3 Cell:1</td>
                            <td>Row:3 Cell:2</td>
                            <td>Row:3 Cell:3</td>
                            <td>Row:3 Cell:4</td>
                            <td>Row:3 Cell:5</td>
                            <td>Row:3 Cell:6</td>
                            <td>Row:3 Cell:7</td>
                            <td>Row:3 Cell:8</td>
                            <td>Row:3 Cell:9</td>
                            <td>Row:3 Cell:10</td>
                        </tr>
                        <tr>
                            <td>Row:4 Cell:1</td>
                            <td>Row:4 Cell:2</td>
                            <td>Row:4 Cell:3</td>
                            <td>Row:4 Cell:4</td>
                            <td>Row:4 Cell:5</td>
                            <td>Row:4 Cell:6</td>
                            <td>Row:4 Cell:7</td>
                            <td>Row:4 Cell:8</td>
                            <td>Row:4 Cell:9</td>
                            <td>Row:4 Cell:10</td>
                        </tr>
                        <tr>
                            <td>Row:5 Cell:1</td>
                            <td>Row:5 Cell:2</td>
                            <td>Row:5 Cell:3</td>
                            <td>Row:5 Cell:4</td>
                            <td>Row:5 Cell:5</td>
                            <td>Row:5 Cell:6</td>
                            <td>Row:5 Cell:7</td>
                            <td>Row:5 Cell:8</td>
                            <td>Row:5 Cell:9</td>
                            <td>Row:5 Cell:10</td>
                        </tr>
                        <tr>
                            <td>Row:6 Cell:1</td>
                            <td>Row:6 Cell:2</td>
                            <td>Row:6 Cell:3</td>
                            <td>Row:6 Cell:4</td>
                            <td>Row:6 Cell:5</td>
                            <td>Row:6 Cell:6</td>
                            <td>Row:6 Cell:7</td>
                            <td>Row:6 Cell:8</td>
                            <td>Row:6 Cell:9</td>
                            <td>Row:6 Cell:10</td>
                        </tr>
                    </tbody>
                </table>
                <figcaption>Table in figure</figcaption>
            </figure>
            <details>
                <summary>Overflowing table in details</summary>
                <table>
                <caption>Overflowing table</caption>
                <colgroup>
                    <col>
                    <col>
                    <col>
                    <col>
                    <col>
                </colgroup>
                <thead>
                    <tr>
                        <th>Header_1</th>
                        <th>Header_2</th>
                        <th>Header_3</th>
                        <th>Header_4</th>
                        <th>Header_5</th>
                        <th>Header_6</th>
                        <th>Header_7</th>
                        <th>Header_8</th>
                        <th>Header_9</th>
                        <th>Header_10</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Row:1 Cell:1</td>
                        <td>Row:1 Cell:2</td>
                        <td>Row:1 Cell:3</td>
                        <td>Row:1 Cell:4</td>
                        <td>Row:1 Cell:5</td>
                        <td>Row:1 Cell:6</td>
                        <td>Row:1 Cell:7</td>
                        <td>Row:1 Cell:8</td>
                        <td>Row:1 Cell:9</td>
                        <td>Row:1 Cell:10</td>
                    </tr>
                    <tr>
                        <td>Row:2 Cell:1</td>
                        <td>Row:2 Cell:2</td>
                        <td>Row:2 Cell:3</td>
                        <td>Row:2 Cell:4</td>
                        <td>Row:2 Cell:5</td>
                        <td>Row:2 Cell:6</td>
                        <td>Row:2 Cell:7</td>
                        <td>Row:2 Cell:8</td>
                        <td>Row:2 Cell:9</td>
                        <td>Row:2 Cell:10</td>
                    </tr>
                    <tr>
                        <td>Row:3 Cell:1</td>
                        <td>Row:3 Cell:2</td>
                        <td>Row:3 Cell:3</td>
                        <td>Row:3 Cell:4</td>
                        <td>Row:3 Cell:5</td>
                        <td>Row:3 Cell:6</td>
                        <td>Row:3 Cell:7</td>
                        <td>Row:3 Cell:8</td>
                        <td>Row:3 Cell:9</td>
                        <td>Row:3 Cell:10</td>
                    </tr>
                    <tr>
                        <td>Row:4 Cell:1</td>
                        <td>Row:4 Cell:2</td>
                        <td>Row:4 Cell:3</td>
                        <td>Row:4 Cell:4</td>
                        <td>Row:4 Cell:5</td>
                        <td>Row:4 Cell:6</td>
                        <td>Row:4 Cell:7</td>
                        <td>Row:4 Cell:8</td>
                        <td>Row:4 Cell:9</td>
                        <td>Row:4 Cell:10</td>
                    </tr>
                    <tr>
                        <td>Row:5 Cell:1</td>
                        <td>Row:5 Cell:2</td>
                        <td>Row:5 Cell:3</td>
                        <td>Row:5 Cell:4</td>
                        <td>Row:5 Cell:5</td>
                        <td>Row:5 Cell:6</td>
                        <td>Row:5 Cell:7</td>
                        <td>Row:5 Cell:8</td>
                        <td>Row:5 Cell:9</td>
                        <td>Row:5 Cell:10</td>
                    </tr>
                    <tr>
                        <td>Row:6 Cell:1</td>
                        <td>Row:6 Cell:2</td>
                        <td>Row:6 Cell:3</td>
                        <td>Row:6 Cell:4</td>
                        <td>Row:6 Cell:5</td>
                        <td>Row:6 Cell:6</td>
                        <td>Row:6 Cell:7</td>
                        <td>Row:6 Cell:8</td>
                        <td>Row:6 Cell:9</td>
                        <td>Row:6 Cell:10</td>
                    </tr>
                </tbody>
            </table>
            </details>
            <footer>
                <p><a href="#top">[Top]</a></p>
            </footer>
        </article>
        <article id="text__code">
            <header>
                <h2>Code</h2>
            </header>
            
                <p><strong>Keyboard input:</strong> <kbd>Cmd</kbd></p>
                <p><strong>Inline code:</strong> <code>&lt;div&gt;code&lt;/div&gt;</code></p>
                <p><strong>Sample output:</strong> <samp>This is sample output from a computer program.</samp>
                </p>
                <h2>Pre-formatted text</h2>
                <pre>P R E F O R M A T T E D T E X T
! " # $ % &amp; ' ( ) * + , - . /
0 1 2 3 4 5 6 7 8 9 : ; &lt; = &gt; ?
@ A B C D E F G H I J K L M N O
P Q R S T U V W X Y Z [ \ ] ^ _
` a b c d e f g h i j k l m n o
p q r s t u v w x y z {"{ | }"} ~ </pre>
            
            <footer>
                <p><a href="#top">[Top]</a></p>
            </footer>
        </article>
        <article id="text__sections">
            <header>
                <h2>Text Sections</h2>
            </header>
            <section>
                <h3>Header 1</h3>
                <p>Test section 1</p>
            </section>
            <section>
                <h3>Header 2</h3>
                <p>Test section 2</p>
            </section>
            <section>
                <h3>Header 3</h3>
                <p>Test section 3</p>
            </section>
        </article>
        <article id="text__inline">
            <header>
                <h2>Inline elements</h2>
            </header>
            
                <p><a href="#!">This is a text link</a>.</p>
                <p><strong>Strong is used to indicate strong importance.</strong></p>
                <p><em>This text has added emphasis.</em></p>
                <p>The <b>b element</b> is stylistically different text from normal text, without any special
                    importance.</p>
                <p>The <i>i element</i> is text that is offset from the normal text.</p>
                <p>The <u>u element</u> is text with an unarticulated, though explicitly rendered, non-textual
                    annotation.</p>
                <p><del>This text is deleted</del> and <ins>This text is inserted</ins>.</p>
                <p><s>This text has a strikethrough</s>.</p>
                <p>Superscript<sup>®</sup>.</p>
                <p>Subscript for things like H<sub>2</sub>O.</p>
                <p><small>This small text is small for fine print, etc.</small></p>
                <p>Abbreviation: <abbr title="HyperText Markup Language">HTML</abbr></p>
                <p><q cite="https://developer.mozilla.org/en-US/docs/HTML/Element/q">This text is a short inline
                        quotation.</q></p>
                <p><cite>This is a citation.</cite></p>
                <p>The <dfn>dfn element</dfn> indicates a definition.</p>
                <p>The <mark>mark element</mark> indicates a highlight.</p>
                <p>The <var>variable element</var>, such as <var>x</var> = <var>y</var>.</p>
                <p>The time element: <time datetime="2013-04-06T12:32+00:00">2 weeks ago</time></p>
            
            <footer>
                <p><a href="#top">[Top]</a></p>
            </footer>
        </article>
    </section>
    <section id="embedded">
        <header>
            <h2>Embedded content</h2>
        </header>
        <article id="embedded__images">
            <header>
                <h2>Images</h2>
            </header>
            
                <h3>Plain <code>&lt;img&gt;</code> element</h3>
                <p><img src="https://placekitten.com/480/480" alt="Photo of a kitten"></p>
                <h3><code>&lt;figure&gt;</code> element with <code>&lt;img&gt;</code> element</h3>
                <figure><img src="https://placekitten.com/420/420" alt="Photo of a kitten"></figure>
                <h3><code>&lt;figure&gt;</code> element with <code>&lt;img&gt;</code> and
                    <code>&lt;figcaption&gt;</code> elements
                </h3>
                <figure>
                    <img src="https://placekitten.com/420/420" alt="Photo of a kitten">
                    <figcaption>Here is a caption for this image.</figcaption>
                </figure>
                <h3><code>&lt;figure&gt;</code> element with a <code>&lt;picture&gt;</code> element</h3>
                <figure>
                    <picture>
                        <source srcset="https://placekitten.com/800/800" media="(min-width: 800px)">
                        <img src="https://placekitten.com/420/420" alt="Photo of a kitten" />
                    </picture>
                </figure>
            
            <footer>
                <p><a href="#top">[Top]</a></p>
            </footer>
        </article>
        <article id="embedded__bgimages">
            <header>
                <h2>Background images</h2>
            </header>
            <figure style="background-image:url('https://placekitten.com/300/300'); width:300px; height: 300px;">
            </figure>
            <footer>
                <p><a href="#top">[Top]</a></p>
            </footer>
        </article>
        <article id="embedded__audio">
            <header>
                <h2>Audio</h2>
            </header>
            <audio controls="">audio</audio>
            <footer>
                <p><a href="#top">[Top]</a></p>
            </footer>
        </article>
        <article id="embedded__video">
            <header>
                <h2>Video</h2>
            </header>
            <video controls="">video</video>
            <footer>
                <p><a href="#top">[Top]</a></p>
            </footer>
        </article>
    </section>
</BlogPost>