---
import * as consts from "../consts.js";

interface Props {
	title: string;
	description?: string;
}

const { title, description = "Description" } = Astro.props;
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-Clacks-Overhead" content="GNU Terry Pratchett" />

<meta
	name="ahrefs-site-verification"
	content="3cbdfc4e5dfa46d77cf0ffdb7bc5e6c86c3baa53d6bb0c47f8b3b2ef22df158d"
/>

<title>{title} | {consts.SITE_DOMAIN}</title>
<meta name="description" content={description} />
