---
import "../styles/global.css";
import Header from '../components/Header.astro';
import BaseHead from '../components/BaseHead.astro';
import { ViewTransitions } from 'astro:transitions';

interface Props {
	title: string;
    description?: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en-GB">
	<head>
        <BaseHead title={title} description={description} />
        <ViewTransitions />
	</head>
	<body>
		<Header transition:persist />
		<slot />
	</body>
</html>
